Flask
Flask-SQLAlchemy
Flask-Cors
Flask-Migrate
Flask-Login
python-dotenv
requests
beautifulsoup4
PyMuPDF
backoff
duckduckgo-search
langchain-community
langchain-groq
sqlalchemy
psycopg2
pymysql
sentence-transformers
chromadb
cryptography

